<mat-sidenav-container class="sidenav-container">
  <mat-sidenav-content>
    <mat-toolbar>
      <button
        mat-flat-button
        routerLinkActive="menuactive"
        routerLink="/chjs/home"
      >
        Home
      </button>
      <button
        mat-flat-button
        routerLinkActive="menuactive"
        routerLink="/chjs/map"
      >
        Map
      </button>
      <button
        mat-flat-button
        routerLinkActive="menuactive"
        routerLink="/chjs/event"
      >
        Event
      </button>
      <button
        mat-flat-button
        routerLinkActive="menuactive"
        routerLink="/chjs/trend"
      >
        Trend
      </button>
      <button
        mat-flat-button
        routerLinkActive="menuactive"
        routerLink="/chjs/data"
      >
        Data
      </button>
      <button
        mat-flat-button
        routerLinkActive="menuactive"
        routerLink="/chjs/setup"
      >
        Setup
      </button>
    </mat-toolbar>
  </mat-sidenav-content>
</mat-sidenav-container>
