<mat-sidenav-container class="sidenav-container">
  <mat-sidenav-content>
    <mat-toolbar>
      <button mat-flat-button routerLinkActive="menuactive" routerLink="/home">
        Home
      </button>
      <button mat-flat-button routerLinkActive="menuactive" routerLink="/map">
        Map
      </button>
      <button mat-flat-button routerLinkActive="menuactive" routerLink="/event">
        Event
      </button>
      <button mat-flat-button routerLinkActive="menuactive" routerLink="/trend">
        Trend
      </button>
      <button mat-flat-button routerLinkActive="menuactive" routerLink="/data">
        Data
      </button>
      <button mat-flat-button routerLinkActive="menuactive" routerLink="/setup">
        Setup
      </button>
    </mat-toolbar>
  </mat-sidenav-content>
</mat-sidenav-container>
